<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="StringConexion" 
			 value="RABhAHQAYQAgAHMAbwB1AHIAYwBlAD0AIABEAEUAUwBLAFQATwBQAC0AQQBKAEgANwBWADUAOQA7ACAASQBuAGkAdABpAGEAbAAgAEMAYQB0AGEAbABvAGcAIAA9ACAATQBhAHQAcgBpAGMAdQBsAGEAOwBQAGUAcgBzAGkAcwB0ACAAUwBlAGMAdQByAGkAdAB5ACAAaQBuAGYAbwA9ACAAdAByAHUAZQA7ACAAdQBzAGUAcgAgAGkAZAAgAD0AcwBhADsAIABwAGEAcwBzAHcAbwByAGQAPQAgADMAMwA4ADAAOwA=" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
